/* Box */

.card {
    margin-top: 15px;
    background: #f5f5f5;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper img {
    width: auto;
    height: 200px;
    max-width: none;
}