/* Carousel */

.carousel-item {
    /*height: calc(100vh - 56px);*/
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-1 {
    background-image: url("img/carousel-1.jpg");
}

.carousel-item-2 {
    background-image: url("img/carousel-2.jpg");
    /*background-position: center top;*/
}

.carousel-item-3 {
    background-image: url("img/carousel-3.jpg");
}

.carousel-item-4 {
    background-image: url("img/carousel-4.jpg");
}